.main1_bottom {
    max-width: 1440px;
    margin: auto;

    .main1_bottom_main {
        display: flex;
        gap: 100px;

        .main1_bottom_main_left {
            .card {
                display: flex;
                margin: 70px 0px 0px 50px;

                img {
                    max-width: 100%;
                }

                .text {
                    margin-left: 30px;

                    h5 {
                        width: 327px;
                        font-family: "Exo 2", sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        color: #363738;

                    }

                    p {
                        width: 291px;
                        margin-top: 16px;
                        font-family: "PT Sans", sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        color: #6B6B6C;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:763px) {
    .main1_bottom .main1_bottom_main{
        flex-wrap: wrap;
        gap: 0px;
    }

    .main1_bottom .main1_bottom_main .main1_bottom_main_left .card{
        margin-top: 45px;
    }

    .main1_bottom .main1_bottom_main .main1_bottom_main_left .card .text p{
        width: 400px;
        
    }
}

@media screen and (max-width:375px) {
    .main1_bottom{
        display: none;
    }
}


